<!DOCTYPE html>
<html>
<head>
    <title>Catalog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> 
    </script>
    <link href="{{ url_for('recent_feed') }}"
      rel="alternate"
      title="Recent items" 
      type="application/atom+xml">

</head>
<body class="lead">
    <div class="container">
        <header class="bg-primary row">
            <div class="col-xs-1"></div>
            <div class="col-xs-9"> 
                <h1><a href="{{ url_for('homePage') }}"> Catalog App</a></h1>
                <p><span id="user_img" class="glyphicon glyphicon-user" aria-hidden="true"></span> <span id="user">{{user}}</span></p>
            </div>
            <div class="col-xs-1">

                <div id="logout"><a href=" {{url_for('gdisconnect') }}" title="Click to log out"  tabindex="0" class="btn btn-lg btn-danger" role="button">Log out</a></div>

                <div id="signin" ><span class="g-signin" data-scope="openid email" data-clientid="521922821250-srdjgf49l12inch07bkl9emkrb4gqhkr.apps.googleusercontent.com" data-redirecturi="postmessage" data-accesstype="offline" data-cookiepolicy="single_host_origin" data-callback="signinCallback"  data-approvalprompt="force"></span></div>    
                
            </div>
            <div class="col-xs-1"></div>
        </header>
        <!--<nav class="navbar navbar-default ">
            <ol class="breadcrumb navbar-form navbar-left">
                <li><a href="{{ url_for('homePage') }}">Home</a></li>
            </ol>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
        </nav> -->
        <div class="row">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div  class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {% for message in messages %}
                            <p id="message">{{message}}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        
        <div id="categories" class="col-xs-5 panel panel-info">
            <h2 class="panel-heading"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Categories</h2>
            <div class="panel-body">

                {% for cat in categories %}  
                    {% if cat[0] == category %}
                        <h3><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> {{cat[0].name}}, 
                    {% else %}
                        <h3><a title ="{{cat[0].description}}" href="{{ url_for('category', category_name=cat[0].name) }}">{{cat[0].name}}</a>
                    {% endif %}
                    <span class="badge"> {{ cat[1] }} </span>
                    </h3>
                {% endfor %}
            </div>

            <!-- dont show for unlogged users -->
            {% if user %}
                <div class="panel-footer">
                    <p><a href="{{ url_for('newCategory') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new category</a></p>
                </div>
            {% endif %}
        </div><!--categories-->

        <div id="items" class="col-xs-6 panel panel-info col-xs-offset-1">
            {% block content %}


            {% endblock %}
        </div><!--row-->
    </div><!--container-->


<script>
jQuery(document).ready(function() {
    console.log("Ready");
    if ( '{{ user }}' != '' ) {
        $('#signin').attr('style', 'display: none');
        $('#logout').attr('style', 'display: block');
        $('#user').text( '{{ user }}' );
    } else {
        $('#signin').attr('style', 'display: block');
        $('#logout').attr('style', 'display: none');
        $('#user_img').attr('style', 'display: none');
    }


    //  $('#login').popover({
    //     animation: false,
    //     trigger:'focus',
    //     html: true,
    //     title:'Please log in <button type="button" class="close">&times;</button>',
    //     content: function () {
    //         return "";
    //     },
    //     placement:'bottom'
    // });

    // $('.popover .g-signin').click(function() {
    //     $(this).popover('toggle');
    // });
 });

//function logOut() { //TODO Ajax logging out
    // console.log("logging out");
    // $.ajax({
    //     type: 'POST',
    //     url: '/gdisconnect',
    //     processData: false,
    //     contentType: 'application/octet-stream; charset=utf-8',
    //     success: function(result) {
    //         if (result == "1") {
    //             $('#message').html( "Logged out.");
    //             $('#signin').attr('style', 'display: block');
    //             $('#logout').attr('style', 'display: none');
    //             $('#user').text( "");
    //             $('#user_img').attr('style', 'display: none');
    //             console.log("Done!");
    //         } else {
    //             $('#message').html('Failed to logged out.');
    //             console.log("Error!");
    //         }
    //     }

    // });
//}

//Google athentication 
function signinCallback(authResult) {
    console.log("logging in by google");
    $('#logout').attr('style', 'display: block');
    $('#signin').attr('style', 'display: none');
    $('#logout a').text("Logging...");
    if (authResult['code']) {
        //Send one-time-use code to the server
        $.ajax({
            type: 'POST',
            url: '/gconnect?state={{STATE}}',
            processData: false,
            contentType: 'application/octet-stream; charset=utf-8',
            data: authResult['code'],
            success: function(result) {
                if (result) {
                    $('#message').html( "Logged in as " + result);
                    $('#logout a').text("Log out");
                    $('#user').text( result );
                    $('#user_img').attr('style', 'display: inline');

                } else if (authResult['error']) {
                    console.log('There was an error: ' + authResult['error']);
                } else {
                    $('#message').html('Failed to make a server-side call. Check your configuration and console.');
                }
            }

        });
    }
}
</script>
</body>
</html>