<html>
<head>
    <title>Catalog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> 
    </script>

</head>
<body class="lead">
    <div class="container">
        <header class="bg-primary row">
            <div class="col-xs-1"></div>
            <div class="col-xs-9"> 
                <h1><a href="{{ url_for('homePage') }}"> Catalog App</a></h1>
                <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span id="user">{{user}}</span></p>
            </div>
            <div class="col-xs-1">
                <div id="logout"><a href="{{ url_for('gdisconnect') }}"  tabindex="0" class="btn btn-lg btn-danger" role="button">Log out</a></div>
                <div id="signin" ><span class="g-signin" data-scope="openid email" data-clientid="521922821250-srdjgf49l12inch07bkl9emkrb4gqhkr.apps.googleusercontent.com" data-redirecturi="postmessage" data-accesstype="offline" data-cookiepolicy="single_host_origin" data-callback="signinCallback"  data-approvalprompt="force"></span></div>    
                
            </div>
            <div class="col-xs-1"></div>
        </header>

        <div class="row">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div id="message" class="alert alert-warning" role="alert">
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

        <!-- child template -->
        
        <div id="categories" class="col-xs-5 panel panel-info">
    <h2 class="panel-heading"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Categories</h2>
    <div class="panel-body">

        {% for cat in categories %}  
            {% if cat == category %}
                <h3><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> {{cat.name}}
            {% else %}
                <h3><a title ="{{cat.description}}" href="{{ url_for('category', category_name=cat.name) }}">{{cat.name}}</a>
            {% endif %}
            </h3>
        {% endfor %}
    </div>
    <div class="panel-footer">
        <p><a href="{{ url_for('newCategory') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new category</a></p>
    </div>
</div><!--categories-->
<div id="items" class="col-xs-6 panel panel-info col-xs-offset-1">
        {% block content %}
        {% endblock %}
        </div><!--row-->
    </div><!--container-->


<script>
jQuery(document).ready(function() {
    console.log("Ready");
    if ( '{{ user }}' != '' ) {
        $('#signin').attr('style', 'display: none');
        $('#logout').attr('style', 'display: block');
        $('#user').text( '{{ user }}' );
    } else {
        $('#signin').attr('style', 'display: block');
        $('#logout').attr('style', 'display: none');
    }


    //  $('#login').popover({
    //     animation: false,
    //     trigger:'focus',
    //     html: true,
    //     title:'Please log in <button type="button" class="close">&times;</button>',
    //     content: function () {
    //         return "";
    //     },
    //     placement:'bottom'
    // });

    // $('.popover .g-signin').click(function() {
    //     $(this).popover('toggle');
    // });
 });

//Google athentication 
function signinCallback(authResult) {
    console.log("click");
    $('#logout').attr('style', 'display: block');
    $('#signin').attr('style', 'display: none');
    $('#logout a').text("Logging...");
            if (authResult['code']) {
                //Send one-time-use code to the server
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    processData: false,
                    contentType: 'application/octet-stream; charset=utf-8',
                    data: authResult['code'],
                    success: function(result) {
                        if (result) {
                            $('#message').html( "Logged in as " + result);
                            $('#logout a').text("Log out");
                            $('#user').text( result );

                        } else if (authResult['error']) {
                            console.log('There was an error: ' + authResult['error']);
                        } else {
                            $('#message').html('Failed to make a server-side call. Check your configuration and console.');
                        }
                    }

                });
            }
        }
</script>
</body>
</html>